PORT=3000
MONGODB_URI=mongodb://localhost:27017/cotraveller
JWT_ACCESS_SECRET=your_jwt_access_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
JWT_ACCESS_EXPIRATION="5m"
JWT_REFRESH_EXPIRATION="7d"
